# ќграничени€ дл€ выходов (старшие разр€ды на светодиоды)
NET "led[0]" LOC = "R4";
NET "led[1]" LOC = "F4";
NET "led[2]" LOC = "P15";
NET "led[3]" LOC = "E17";
NET "led[4]" LOC = "K14";
NET "led[5]" LOC = "K15";
NET "led[6]" LOC = "J15";
NET "led[7]" LOC = "J14";

# ќграничение дл€ тактового сигнала
NET "clk" LOC = "B8";
