.list {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 15px;
}

.first {
    font-style: italic;
}

.second {
    font-style: oblique;
}

.third {
    font-weight: 700;
}

.fourth {
    text-decoration: line-through;
}

.fifth {
    text-decoration: underline;
}

.sixth {
    text-decoration: wavy underline;
}

.list-1 li {
 position: relative;
}

.list-1 li:before {
 content: ' - ';
 position: relative;
 left: 0;
 top: 50%;8:19 20.09.20228:19 20.09.2022
}


