.list {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 15px;
}

.first {
    font-style: italic;
}

.second {
    font-style: oblique;
}

.third {
    font-weight: 700;
}

.fourth {
    text-decoration: line-through;
}

.fifth {
    text-decoration: underline;
}

.sixth {
    text-decoration: wavy underline;
}

