vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Dec 2005 19:51:59 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|ALI\\Ali
vti_modifiedby:SR|ALI\\Ali
vti_timecreated:TR|16 Dec 2005 10:10:24 -0000
vti_backlinkinfo:VX|pages/v.htm pages/p1_6.htm pages/p1_7.htm index.htm pages/p1_4.htm pages/p1_5.htm pages/p2_3.htm pages/p1_2.htm pages/p1_3.htm pages/p2_1.htm pages/p2_2.htm pages/p1_1.htm
vti_nexttolasttimemodified:TW|17 Dec 2005 19:50:25 -0000
vti_cacheddtm:TX|17 Dec 2005 19:52:00 -0000
vti_filesize:IR|530
vti_cachedlinkinfo:VX|S|images/1.gif
vti_cachedsvcrellinks:VX|FSUS|images/1.gif
