.menu-btn{
    background: url("./gallery/menu.svg");
    height:64px;width:64px;
    position:fixed;
    left:16px;
    top:16px;
    cursor: pointer;
    z-index:999;
    display:none;
  }
  
    #menu-content{
      left:0;top:0;
      margin:0;
      padding:0;
      position:fixed;
      visibility: hidden;
      z-index: 998;
      width:100%;
      height:100%;
      background: #FFF
  }
  