/* sessions */
.sessions {
    max-width: 1296px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 150px;
}

.sessions__heading {
    display: inline-block;
    position: relative;
    padding: 0 73px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 42px;
}

.sessions__heading:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 14px;
    top: 10px;
    left: 0;
    background-image: url("../img/leaf-blue.svg");
    background-size: 28px 14px;
}

.sessions__heading:after {
    content: '';
    position: absolute;
    width: 28px;
    height: 14px;
    top: 10px;
    right: 0;
    background-image: url("../img/leaf-blue.svg");
    transform: scale(-1, 1);
    background-size: 28px 14px;
}

.sessions__container {
    display: flex;
    justify-content: space-between;
}

.container__card-ver {
    position: relative;
    margin-right: 24px;
}

.card__img {
    border-radius: 10px;
}

.card__heading {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-weight: 700;
    font-size: 24px;
}

.container__container {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;    
}

.container__card-hor {
    position: relative;
}

.card__heading-hor {
    max-width: 336px;
    position: absolute;
    bottom: 30px;
    left: 40px;
    text-align: left;
    font-weight: 700;
    font-size: 24px;
}
